
body{
    margin: 0;
    padding: 0;
    height:100%;
    border:40px solid black;
    border-width: 20px;
    overflow: hidden;
}


#Headding{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: darkcyan;
    font-size: 20px;
}
#play{
    height:auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;

}
.players{
    display: flex;
    justify-content:center;
    color:yellow;

}
.img{
    display:flex ;
    justify-content: center;
    align-items: center;    
}
.imgg{
    display:flex ;
    justify-content: center;
    align-items: center;    
}
img{
    height: 300px;
    width: 300px;
   
}
.options{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: end;
}
#player1{
    width: 40%;
    height: 100%;
    background-color:gray;
}
#player2{
    width: 40%;
    height: 100%;
    background-color:rgb(117, 4, 4);
    
}

.but{
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkcyan;
    font-size: 35px; 
}
input[type=button] {
    background-color: rgba(22, 141, 32, 0.652);
    border: none;
    font-size: 30px;
    border-radius: 10px;
    text-decoration: none;
    height: 80px;
    width: 300px;
    color: white;
    padding: 20px 20px;
    margin: 20px 20px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.711);
}
input:hover {
background-color: #2EE59D;
box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
color: #fff;
transform: translateY(-7px);
}